doctype html
html(lang="en", dir="ltr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0")
        meta(name="description", content="Template kit")
        meta(name="theme-color", content="#fff")

        title Gulp Kit

        link(rel="manifest", type="application/json", href="/assets/manifest.json")
        link(rel="stylesheet", type="text/css", href="/assets/css/main.css")
        link(rel="icon", type="image/xml+svg", href="/assets/images/gulp.svg")
        link(rel="apple-touch-icon", type="image/xml+svg", href="/assets/images/gulp.svg")

    body
        block content
